* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    /* padding-top: 20px; */
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    max-width: 480px;
    min-height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#titulo {
    margin-bottom: 20px;
    color: rgb(33, 38, 39);
    text-align: center;
}

#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-tarea {
    background-color: transparent;
    color: rgb(26, 9, 112);
    width: 60%;
    margin-bottom: 30px;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(48, 57, 58);
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

#input-tarea::placeholder {
    text-align: center;
    color: rgb(48, 57, 58);
    transition: all 0.5s ease-in-out;
    font-size: 1rem;
}

#input-tarea:focus {
    border-bottom-color: rgb(26, 9, 112);
}

#input-tarea:focus::placeholder {
    color: rgb(26, 9, 112);
}

#btn-crear {
    font-size: 0.9rem;
    padding: 10px;
    border: none;
    background-color: rgb(26, 9, 112);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    user-select: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

#btn-crear:hover {
    scale: 1.15;
    background-color: rgb(48, 57, 58);
    color: white;
}

#contenedor-tareas {
    display: none; /*Al dar Click en Crear Tarea, esto se cambia a display: block*/
    margin: 25px 0 20px;
    width: 80%;
    max-height: 300px;
    overflow: auto;
    padding: 5px;
}

.tarea {
    width: 100%;
    background-color: rgb(114, 136, 230);
    margin-bottom: 15px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 18px; /*Se aplica tanto para el párrafo como para los íconos*/
}

.texto-tarea {
    width: 100%;
    /* word-wrap: break-word; Alternativa para navegadores no tan modenos*/
    overflow-wrap: break-word; /* Alternativa para navegadores más modernos */
    overflow: hidden;
}

.blanco {
    flex-grow: 1;
}

.icono {
    cursor: pointer;
    margin-left: 10px;
}

.icono:hover {
    scale: 1.15;
}

.check-completo {
    color: green;
}

.check-incompleto {
    color: black;
}

.tarea-completa {
    background-color: grey;
    text-decoration: line-through;
}

.tarea-incompleta {
    background-color: rgb(114, 136, 230);
    text-decoration: none;
}

@media screen and (max-width: 360px) {
    #titulo {
        font-size: 1.5rem;
    }

    #input-tarea::placeholder {
        font-size: 0.7rem;
    }

    .contenedor {
        width: 60vw;
    }

    #btn-crear {
        font-size: 0.7rem;
    }

    .tarea {
        font-size: 0.8rem;
    }

}